body{
    background: black;
    text-align: center;
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
}

.botones:hover{
    font-weight: bold;
    color: white;
}

nav{
    border: 1px solid grey;
}

#cabecera{
    font-weight: bold;
}

